
<form ng-submit="login()" name="form" ng-hide="$root.user" novalidate>
    <h2>Login</h2>
    <br/>
    <div class="form-group" ng-class="{ 'has-error': form.login.$invalid && form.login.$dirty }">
        <label for="login">Username</label>
        <input type="input" class="form-control ng-invalid submitted" name="login"
               id="login" ng-model="user.login" placeholder="UserName"
               ng-minlength="3" required server-error>
    </div>
    <div ng-if="form.login.$dirty" ng-messages="form.login.$error">
        <div ng-message="minlength">Username too short !</div>
        <div ng-message="required">Username is required !</div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && form.password.$dirty }">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password"
               id="password" ng-model="user.password" placeholder="Password" required server-error>
    </div>
    <div ng-if="form.password.$dirty" ng-messages="form.password.$error">
        <div ng-message="required">Password is required !</div>
    </div>
    <div ng-messages="form.password.$error">
      <div ng-message="server">{{ errors.password }}</div>
    </div>
    <div ng-messages="form.login.$error">
      <div ng-message="server">{{ errors.login }}</div>
    </div>
    <br />
    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Login</button>
    <a href="/register" class="btn btn-link">Register</a>

</form>