<form>
    <div class="panel panel-default">
        <div class="panel-heading">Your Portfolio</div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Stock</th>
                <th>Qty</th>
                <th>Current Price</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in user_portfolio">
                <td ng-click="redirect()">{{row.stock.code}}</td>
                <td ng-click="redirect()">{{row.qty}}</td>
                <td ng-click="redirect()">{{row.current_price}}</td>
                <td><button type="button" class="btn btn-primary btn-sm" ng-click="show_modal('sell')">SELL</button></td>
            </tr>
            </tbody>
        </table>
    </div>

    <p><h2> Buy Stocks ! </h2></p>

    <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped">
        <tr ng-repeat="row in $data track by row.stock.id">
            <td title="'Stock'" filter="{stockCode: 'text'}" sortable="'stockCode'">{{row.stock.code}}</td>
            <td title="'Current Price'" sortable="'currPrice'">{{row.current_price}}</td>
            <td title="'Bought'" sortable="'bought'">{{row.bought}}</td>
            <td title="'Sold'" sortable="'sold'">{{row.sold}}</td>
            <td><button type="button" class="btn btn-primary btn-sm" ng-click="show_modal('buy')">BUY</button></td>
        </tr>
    </table>


</form>
