<form ng-submit="save()" name="form">
    <div class="form-group">
            <label for="code">Code</label>
            <input ng-model="stock_category.code" class="form-control ng-invalid submitted"
                   id="code" placeholder="Enter Code" required/>
    </div>
    <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="stock_category.name" class="form-control ng-invalid submitted"
                   id="name" placeholder="Enter Name" required/>
    </div>
    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"> Save </button>
    <br />
    <table class="table table-striped table-hover">
        <caption>
            Stocks
        </caption>
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="stock in stocks" ng-click="redirect()">
                <td>{{stock.code}}</td>
                <td>{{stock.name}}</td>
            </tr>
        </tbody>
    </table>
</form>