<form>
    <div class="form-group">
            <label for="code">Code</label>
            <input ng-model="stock.code" id="code" placeholder="Enter Code" />
    </div>
    <div class="form-group">
            <label for="category">Category</label>
            <select id="category" name="category" ng-model="stock.category"
                ng-options="stock_category.id as stock_category.code for stock_category in stock_categories">
            </select>
    </div>
    <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="stock.name" id="name" placeholder="Enter Name" />
    </div>
    <br />
    <button ng-click="save()" class="btn btn-primary"> Save </button>
    <br />
    <label for="date_from">Date from</label>
    <input id="date_from" type="date" ng-model="date_from" />
    <label for="date_to">Date to</label>
    <input id="date_to" type="date" ng-model="date_to" />
    <button ng-click="populate_lines()" class="btn btn-secondary"> Populate Lines </button>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">History Data</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Volume</th>
                    <th>Open Price</th>
                    <th>Close Price</th>
                    <th>High</th>
                    <th>Low</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stock_history in history_lines | orderBy:'date':true | limitTo:80">
                    <td>{{stock_history.date}}</td>
                    <td>{{stock_history.volume}}</td>
                    <td>{{stock_history.open}}</td>
                    <td>{{stock_history.close}}</td>
                    <td>{{stock_history.high}}</td>
                    <td>{{stock_history.low}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>