.left {
    float: left;
}

.right {
    float: right;
}

nav {
    padding: 10px;
}

.form-control {
    width: 40%;
}

form {
    width: 50%;
    margin: 0 auto;
}

.form-group .has-error {
  color: maroon;
}

div[ng-message] {
  color: maroon;
}

#main header nav a {
    padding: 30px;
}

